@import "../../assets/css/Variables.scss";

li.item > a {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $box-color-basic;
  padding: 30px 0;
  .studyroom-info {
    color: $text-color-basic;
    h3 {
      font-size: 20px;
      color: $system-blue;
      font-weight: 600;
      margin-bottom: 16px;
      .is-favorite {
        padding-left: 10px;
        .true {
          color: $system-yellow;
        }
        .false {
          color: $text-color-basic;
        }
      }
    }
    .num-member {
      em {
        font-weight: 600;
        color: $system-blue;
      }
    }
    dl {
      display: inline-block;
      margin-left: 10px;
    }
    dl > dd::before {
      content: ":";
      display: inline-block;
      margin: 0 8px;
    }
    dl > * {
      display: inline-block;
    }
  }
  .section-latest-updated {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: right;
    li {
      flex-basis: 100%;
    }
    li.new::after {
      content: "N";
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #ff514f;
      color: #ffffff;
      margin-left: 5px;
      font-size: 8px;
      text-align: center;
      line-height: 16px;
    }
  }
}
li.item:last-child {
  border-bottom: 1px solid $box-color-basic;
}
