// StudyRoom Brand Colors
$brand-color: #ffc947;
$brand-color-hover: #fdb300;

// 회색계열
$box-color-basic: #e1e4e8;
$btn-text-color-basic: #a3a3a3;
$btn-text-color-basic-hover: #757575;

$text-primary: #24292e;

// input box colors
$focus-text-color-basic: #326edc;
$focus-box-color-basic: rgba(33, 130, 193, 0.5);
$focus-box-shadow-basic: 0px 0px 6px 0px rgba(41, 110, 214, 0.34);
