/* 엘리먼트 공통 : 폼, 버튼, 표, 탭, 팝업 등 */
@import "./00_variables.scss";

// form
form {
  input,
  select {
    display: block;
    box-sizing: border-box;
    border: 1px solid $box-color-basic;
    line-height: 20px;
    border-radius: 6px;
    position: relative;
    padding: 9px 15px;
    font-size: 15px;
  }
  input:focus,
  select:focus {
    border-color: $focus-box-color-basic;
    box-shadow: $focus-box-shadow-basic;
  }
  input::placeholder {
    color: $text-color-basic;
  }

  .input-group {
    label {
      display: block;
      font-size: 15px;
      margin-bottom: 12px;
      font-weight: 600;
    }
    label + em {
      display: block;
      margin-bottom: 10px;
      color: $text-color-basic-dark;
      font-size: 13px;
    }
    input {
      width: 100%;
    }
  }
  .input-group + .input-group {
    margin-top: 30px;
  }
}

// button
.btn {
  border-radius: 6px;
  padding: 6px 8px;
  transition: 0.3s;
  text-align: center;
  color: inherit;
}
.btn.brand-color {
  background: $brand-color;
  border: none;
  color: #ffffff;
}
.btn.brand-color:hover {
  background: $brand-color-hover;
}
.btn.regular {
  height: 40px;
}

// text hover 하면 밑줄 생기는 효과
.text-effect.basic {
  position: relative;
}
.text-effect.basic::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  top: 100%;
  background-color: $text-primary;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.2s;
}
.text-effect.basic:hover::before {
  width: 100%;
}

// 카카오로 로그인하기
.login {
  button {
    cursor: pointer;
    position: relative;
    height: 100% !important;
    display: block;
    padding-left: 50px !important;
    line-height: 40px !important;
    transition: 0.2s;
    width: auto !important;
    color: inherit !important;
    background-color: inherit !important;
    border: none !important;
    border-radius: 0 !important;
    font-size: inherit !important;
  }
  button:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
    background: url(../img/common/icon-kakao.png) center no-repeat;
    background-size: contain;
  }
  // .login.email::before {
  //   background-image: url(../img/common/icon-email.png);
  //   background-size: 86%;
  // }
  button:hover {
    color: $system-blue !important;
  }
}

// pagination
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
ul {
  list-style: none;
  padding: 0;
}
ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}
ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}
ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}
ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #337ab7;
}
ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}
.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
